<div class="info_me">
	<img src="assets/img/profile.jpg" alt="this is me!"/>
	<h1>Arunakemi Colin Varela</h1>
	<p> 
		Hi! I am a software engineer from Mexico. I love making games and all parts of gamedev. From gameplay to shaders, from visuals to music.
		I'm always trying to learn something new.
	</p>
	:star:
</div>
<div class="social">
	<a href="https://www.twitter.com/venado_cosmico"  target="_blank"><i class="fa-brands fa-twitter-square"></i></a>
	<a href="https://github.com/Arunakemi" target="_blank"><i class="fa-brands fa-github-square"></i></a>
	<a href="https://www.linkedin.com/in/arunakemi-colin-varela-220692230" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
	<a href="mailto:alex.colin.varela@gmail.com" target="_blank"><i class="fa-solid fa-square-envelope"></i></a>
</div>
