* {
  margin: 0;
  padding: 0;
}

html, body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: #F0F5F9;
}

p {
  font-family: sans-serif;
  color: #000000;
  position: absolute;
  top: 50%;
  left: 16.5%;
  transform: translate(0%, -50%);
}

#load-bar-static {
  background-color: #cdd1d5;
  height: 4px;
  width: 67%;
  position: absolute;
  left: 16.5%;
  top: 53%;
}
